<% layout('../layouts/boilerplate') %>

<body class="container-md-fluid">
  <div style="padding: 0 80px 0 80px">
    <h1 class="text-left text-danger mt-3 mb-3">UPDATE YOUR LISTING</h1>
    <form
      method="post"
      action="/listings/<%= data.id %>?_method=PUT"
      enctype="multipart/form-data"
    >
      title:
      <textarea
        class="form-control rounded-2 p-2"
        name="title"
        placeholder="edit your title"
        required
      >
 <%=data.title %></textarea
      ><br /><br />
      description:<textarea
        style="padding-top: 10px"
        class="form-control rounded-2"
        type="text"
        name="description"
        placeholder="edit your title"
        required
      >
 <%=data.description %></textarea
      ><br /><br />
      <div>original image:<br><img src="<%= data.image.url%>" height="150px" width="250px"> </div><br> <br>
      image:<input
        style="padding: 10px"
        class="form-control rounded-2"
        type="file"
        name="image"
        placeholder="edit your title"
      /><br /><br />
      <div class="row">
        <div class="col-6">
          price:
          <textarea
            style="padding: 10px"
            class="form-control rounded-2"
            type="text"
            name="price"
            placeholder="edit your title"
            required
          >
 <%=data.price %></textarea
          ><br /><br />
        </div>
        <div class="col-6">
          location:
          <textarea
            style="padding: 10px"
            class="form-control rounded-2"
            type="text"
            name="location"
            placeholder="edit your title"
            required
          >
 <%=data.location %></textarea
          ><br /><br />
        </div>
      </div>
      <button class="btn btn-outline-danger text-center p-3">
        submit and edit
      </button>
    </form>
  </div>
</body>
