<% layout('../layouts/boilerplate') %>

<body>
  
  <div
    style="
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      vertical-align: center;
    "
  >
    <% for(data of datas) { %>
    <div class="card" style="width: 300px; border: none">
      <a href="http://localhost:8080/listings/<%=data.id%>"
        ><img
          src="<%= data.image %>"
          class="card-img-top"
          alt="listings"
          target="_blank"
          height="280px"
          style="border-radius: 20px"
      /></a>
      <div class="card-body">
        <p class="card-text">
          <b><%= data.title %></b><br /><br />
          <%= data.description %>
        </p>
        <p class="card-text"><%= data.price %></p>
      </div>
    </div>
    <% } %>
  </div>
  <!-- <a href="http://localhost:8080/listings/<%=data.id%>"
        ><button>Show more</button></a
      >
      <form method="get" action="/listings/<%= data.id%>/edit">
        <button>Edit</button>
      </form>
      <form method="post" action="/listings/<%= data.id%>?_method=DELETE">
        <button>Delete Listings</button>
      </form> -->
</body>
