<% layout('../layouts/boilerplate') %>

<body style="padding: 0 100px 0 100px">
  <div style="display: flex; justify-content: start; align-items: start; flex-wrap: wrap; padding:0 0 0 160px">
  <h1 class="px-4"><%= data.title %></h1>
  <h5 class="text-secondary px-4">
    <u>Listed by: <%= data.owner.username %></u> <br><br> <%= data.description %>
  </h5></div><br>
  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    <img
      src="<%= data.image.url %>"
      height="400px"
      width="70%"
      class="rounded-5 mb-3 mx-3"
      style="box-shadow: 5px 5px 10px rgba(0,0,0,0.5);"
    />
  </div>
  <% if(currentUser && currentUser._id.equals(data.owner._id)){%>
  <div class="d-flex gap-3">
    <div class="mx-4 mb-4">
      <form method="get" action="/listings/<%= data.id%>/edit">
        <button class="fs-6 btn btn-outline-danger">Edit</button>
      </form>
    </div>
    <div class="mb-4">
      <form method="post" action="/listings/<%= data.id%>?_method=DELETE">
        <button class="fs-6 btn btn-outline-danger">Delete Listings</button>
      </form>
    </div>
  </div>
  <div>
    <hr />
    <% }%>
    <form method="post" action="/listings/<%= data.id %>/reviews" class="m-4">
      <h3>leave your valuable review</h3>
      <label class="form-label" for="rating">rating</label>
      <fieldset class="starability-slot">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="review[rating]"
          value="0"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>

      <label class="form-label" for="comment">comment</label>
      <textarea
        type="text"
        class="form-control"
        id="comment"
        name="review[comment]"
        required
      ></textarea>
      <br />
      <button class="fs-6 btn btn-outline-danger">create a review</button>
    </form>
  </div>
  <hr />

  <h3 class="m-4">all reviews</h3>
  <div class="m-4 row">
    <% for (review of data.review) { %>
    <div class="col-6 col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"></p>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p class="card-text"><%= review.comment %></p>
          <form
            method="post"
            action="/listings/<%= data.id %>/reviews/<%= review.id %>?_method=DELETE"
          >
            <button class="btn btn-outline-danger mt-2">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <!-- <div
    id="map"
    style="height:100px width:100px"
  ></div>
  <script>
    // TO MAKE THE MAP APPEAR YOU MUST
    // ADD YOUR ACCESS TOKEN FROM
    // https://account.mapbox.com
    mapboxgl.accessToken ='<%= process.env.MAP_TOKEN %>'
    console.log(mapboxgl.accessToken)
    const map = new mapboxgl.Map({
      container: 'map', // container ID
      center: [-74.5, 40], // starting position [lng, lat]. Note that lat must be set between -90 and 90
      zoom: 9 // starting zoom
    })
  </script> -->
